@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap&subset=latin-ext");

html {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, #2a0045, #6441a5);
}

.header__img {
    height: 80%;
    margin: 0 0 0 10%;
    transition: .3s linear;
}

.header__img:hover {
    animation: shakes .2s ease-in-out infinite alternate;
}

.header__paragraph {
    margin: 0 0 0 2rem;
    color: whitesmoke;
    font-size: 3rem;
}

.memes {
    text-align: center;
    padding-top: 2rem;
}

.memes__top-text,
.memes__bottom-text {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.memes__top-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.memes__bottom-text {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
}

.meme-form {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.meme-form__input {
    width: 40%;
    font-size: 1.5rem;
    height: 2rem;
    text-align: center;
}

.meme-form__button {
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: whitesmoke;
    background: #6441a5;
}

.meme-form__input:focus,
.meme-form__input:focus {
    outline: none;
    background: #d8f3df;
    border: 2px solid green;
}

.memes__img {
    width: 31rem;
    height: 21rem;
}

@keyframes shakes {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}